.contenedorNavbar{
    width: 100%;
    height: 50px;
    background-color: #cee4df;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    & .btnNav{
        display: flex;
        align-items: center;
        background-color: #eaf4f4;
        padding: 8px 20px;
        height: 60%;
        margin-top: 10px;
        border-radius: 5px;
        color: #759385;
        font-weight: 700;
        text-transform: uppercase;
        
    }
    & .active{
        background-color: #7d9d9d;
        color: #eaf4f4;
    }
}
